{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="theme-red">
    <!-- Page Loader -->

    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="../../index.html">ADMINBSB - MATERIAL DESIGN</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICATIONS</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->

                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->


    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    NOTIFICATIONS
                    <small>Taken by Bootstrap Notification <a href="https://github.com/mouse0270/bootstrap-notify" target="_blank">github.com/mouse0270/bootstrap-notify</a></small>
                </h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                NOTIFICATION POSITIONS
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black">
                                        TOP LEFT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="top" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black">
                                        TOP CENTER
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="top" data-placement-align="right"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black">
                                        TOP RIGHT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black">
                                        BOTTOM LEFT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="bottom" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black">
                                        BOTTOM CENTER
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black">
                                        BOTTOM RIGHT
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Notification Types -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                NOTIFICATION TYPES
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-danger btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="alert-danger">
                                        DANGER
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-success btn-block waves-effect" data-placement-from="bottom" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="alert-success">
                                        SUCCESS
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-warning btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                            data-animate-enter="" data-animate-exit="" data-color-name="alert-warning">
                                        WARNING
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn btn-info btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="alert-info">
                                        INFO
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Notification Types -->
            <!-- With Material Design Colors -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                WITH MATERIAL DESIGN COLORS
                                <small>You can use the material design colors which example class are <code>.bg-pink, .bg-green</code></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-red btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-red">
                                        RED
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-green btn-block waves-effect" data-placement-from="bottom" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-green">
                                        GREEN
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-orange btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-orange">
                                        ORANGE
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-blue btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-blue">
                                        BLUE
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-teal btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-teal">
                                        TEAL
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-cyan btn-block waves-effect" data-placement-from="bottom" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-cyan">
                                        CYAN
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-pink btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-pink">
                                        PINK
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-purple btn-block waves-effect" data-placement-from="bottom" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-purple">
                                        PURPLE
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-blue-grey btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-blue-grey">
                                        BLUE GREY
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-deep-orange btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-deep-orange">
                                        DEEP ORANGE
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-light-green btn-block waves-effect" data-placement-from="bottom" data-placement-align="center"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-light-green">
                                        LIGHT GREEN
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-black btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black">
                                        BLACK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# With Material Design Colors -->
            <!-- Notification Animations -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                NOTIFICATION ANIMATIONS
                                <small>You can use <a href="https://daneden.github.io/animate.css/" target="_blank">Animate.css</a> class for animating.</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-pink btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated fadeIn"
                                            data-animate-exit="animated fadeOut" data-color-name="bg-black">
                                        FADE IN/OUT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-pink btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated fadeInLeft"
                                            data-animate-exit="animated fadeOutLeft" data-color-name="bg-black">
                                        FADE IN/OUT LEFT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-pink btn-block waves-effect" data-placement-from="top" data-placement-align="right" data-animate-enter="animated fadeInRight"
                                            data-animate-exit="animated fadeOutRight" data-color-name="bg-black">
                                        FADE IN/OUT RIGHT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-pink btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated fadeInUp"
                                            data-animate-exit="animated fadeOutUp" data-color-name="bg-black">
                                        FADE IN/OUT UP
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-pink btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated fadeInDown"
                                            data-animate-exit="animated fadeOutDown" data-color-name="bg-black">
                                        FADE IN/OUT DOWN
                                    </button>
                                </div>
                            </div>

                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-cyan btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated bounceIn"
                                            data-animate-exit="animated bounceOut" data-color-name="bg-black">
                                        BOUNCE IN/OUT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-cyan btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated bounceInLeft"
                                            data-animate-exit="animated bounceOutLeft" data-color-name="bg-black">
                                        BOUNCE IN/OUT LEFT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-cyan btn-block waves-effect" data-placement-from="top" data-placement-align="right" data-animate-enter="animated bounceInRight"
                                            data-animate-exit="animated bounceOutRight" data-color-name="bg-black">
                                        BOUNCE IN/OUT RIGHT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-cyan btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated bounceInUp"
                                            data-animate-exit="animated bounceOutUp" data-color-name="bg-black">
                                        BOUNCE IN/OUT UP
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-cyan btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated bounceInDown"
                                            data-animate-exit="animated bounceOutDown" data-color-name="bg-black">
                                        BOUNCE IN/OUT DOWN
                                    </button>
                                </div>
                            </div>

                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-teal btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated rotateIn"
                                            data-animate-exit="animated rotateOut" data-color-name="bg-black">
                                        ROTATE IN/OUT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-teal btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated rotateInUpLeft"
                                            data-animate-exit="animated rotateOutUpLeft" data-color-name="bg-black">
                                        ROTATE IN/OUT UP LEFT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-teal btn-block waves-effect" data-placement-from="top" data-placement-align="right" data-animate-enter="animated rotateInUpRight"
                                            data-animate-exit="animated rotateOutUpRight" data-color-name="bg-black">
                                        ROTATE IN/OUT UP RIGHT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-teal btn-block waves-effect" data-placement-from="top" data-placement-align="left" data-animate-enter="animated rotateInDownLeft"
                                            data-animate-exit="animated rotateOutDownLeft" data-color-name="bg-black">
                                        ROTATE IN/OUT DOWN LEFT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-teal btn-block waves-effect" data-placement-from="top" data-placement-align="right" data-animate-enter="animated rotateInDownRight"
                                            data-animate-exit="animated rotateOutDownRight" data-color-name="bg-black">
                                        ROTATE IN/OUT DOWN RIGHT
                                    </button>
                                </div>
                            </div>

                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-orange btn-block waves-effect" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="animated zoomIn" data-animate-exit="animated zoomOut" data-color-name="bg-black">
                                        ZOOM IN/OUT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-orange btn-block waves-effect" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="animated zoomInLeft" data-animate-exit="animated zoomOutLeft" data-color-name="bg-black">
                                        ZOOM IN/OUT LEFT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-orange btn-block waves-effect" data-placement-from="top" data-placement-align="right"
                                            data-animate-enter="animated zoomInRight" data-animate-exit="animated zoomOutRight" data-color-name="bg-black">
                                        ZOOM IN/OUT RIGHT
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-orange btn-block waves-effect" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="animated zoomInUp" data-animate-exit="animated zoomOutUp" data-color-name="bg-black">
                                        ZOOM IN/OUT UP
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-orange btn-block waves-effect" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="animated zoomInDown" data-animate-exit="animated zoomOutDown" data-color-name="bg-black">
                                        ZOOM IN/OUT DOWN
                                    </button>
                                </div>
                            </div>

                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-purple btn-block waves-effect" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="animated flipInX" data-animate-exit="animated flipOutX" data-color-name="bg-black">
                                        FLIP IN/OUT X
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-purple btn-block waves-effect" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="animated flipInY" data-animate-exit="animated flipOutY" data-color-name="bg-black">
                                        FLIP IN/OUT Y
                                    </button>
                                </div>
                            </div>

                            <div class="row clearfix jsdemo-notification-button">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                    <button type="button" class="btn bg-indigo btn-block waves-effect" data-placement-from="top" data-placement-align="right"
                                            data-animate-enter="animated lightSpeedIn" data-animate-exit="animated lightSpeedOut"
                                            data-color-name="bg-black">
                                        LIGHT SPEED IN/OUT
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Notification Animations -->
        </div>
    </section>
    <link rel="stylesheet" href="{% static 'assets/css/mbtstyle.css' %}" />
    {% endblock %}
    {% extends 'base.html' %}
    {% load static %}
    
    {% block content %}
    
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <button type="button" class="btn bg-pink btn-block waves-effect" data-placement-from="top" data-placement-align="right" data-animate-enter="animated fadeInRight" data-animate-exit="animated fadeOutRight" data-color-name="bg-black">
                FADE IN/OUT RIGHT
            </button>
        </div>

        {% endblock %}
    