{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="theme-red">
    <!-- Page Loader -->

    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->

    <!-- #Top Bar -->


    <section class="content">
        <div class="container-fluid">
            <div class="block-header">

            </div>

            <!-- Notification Types -->

            <!-- #END# Notification Types -->
            <!-- With Material Design Colors -->

            <!-- #END# With Material Design Colors -->
            <!-- Notification Animations -->
            <div class="">
                <div class="">
                    <div class="">

                        <div class="">


                            <div class="jsdemo-notification-button">
                                <div class="">
                                    <button type="button" class="btn bg-indigo btn-block waves-effect" data-placement-from="top" data-placement-align="right"
                                            data-animate-enter="animated lightSpeedIn" data-animate-exit="animated lightSpeedOut"
                                            data-color-name="bg-black">
                                        LIGHT SPEED IN/OUT
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Notification Animations -->
        </div>
    </section>
    <link rel="stylesheet" href="{% static 'assets/css/mbtstyle.css' %}" />
    {% endblock %}

    