{% extends 'mainsite/base.html' %}
{% load static %}

{% block content %}



    
    <!-- Start Page Title Area -->
    <div class="page-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>About Us</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    
    <!-- Start About Area -->
    <section class="about-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-text">
                        <h3>Welcome To <span>GAINSKILL</span></h3>
                        
                        <h5>Lorem ipsum dolor sit amet soluta saepe odit error, maxime praesentium sunt udiandae!</h5>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Quos dolo rem consequ untur, natus laudantium commodi earum aliquid in ullam.Lorem ipsum.</p>
                        
                        <p>Lorem ipsum dolor sit amet soluta saepe odit error, maxime praesentium sunt udiandae!</p>
                        
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum sunt ut dolorem laboriosam culpa excepturi sed distinctio eius! Ut magnam numquam libero quia vero blanditiis fugit corporis quisquam, debitis quidem laudantium deleniti.</p>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-12">
                    <div class="about-slider">
                        <div class="item">
                            <img src="assets/img/about-img1.jpg" alt="about">
                        </div>
                        
                        <div class="item">
                            <img src="assets/img/about-img2.jpg" alt="about">
                        </div>
                        
                        <div class="item">
                            <img src="assets/img/about-img3.jpg" alt="about">
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-about">
                        <i class="icofont-paper-plane"></i>
                        <h3>Progressive Programs</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Quos dolo rem consequ untur, natus laudantium commodi earum aliquid in ullam.Lorem ipsum.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-about">
                        <i class="icofont-checked"></i>
                        <h3>Online Courses</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Quos dolo rem consequ untur, natus laudantium commodi earum aliquid in ullam.Lorem ipsum.</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-about">
                        <i class="icofont-airplane-alt"></i>
                        <h3>International Students</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Quos dolo rem consequ untur, natus laudantium commodi earum aliquid in ullam.Lorem ipsum.</p>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <div class="about-content">
                        <h3>Who we are?</h3>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum.</p>
                        
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum.</p>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <div class="about-content">
                        <h3>Our mission</h3>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum.</p>
                        
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, vestibulum molestie mi id rutrum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    
    <!-- Start Why Choose Us Area CSS -->
    <section class="why-choose-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="image"></div>
                </div>
                
                <div class="col-lg-6 col-md-12">
                    <div class="why-choose ptb-100">
                        <h3>Why Choose Us</h3>
                        
                        <div class="single-choose">
                            <div class="icon">
                                <i class="icofont-book-alt"></i>
                            </div>
                            
                            <div class="content">
                                <h4>Popular Courses</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                        
                        <div class="single-choose">
                            <div class="icon">
                                <i class="icofont-teacher"></i>
                            </div>
                            
                            <div class="content">
                                <h4>Qualified Teachers</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                        
                        <div class="single-choose mb-0">
                            <div class="icon">
                                <i class="icofont-support"></i>
                            </div>
                            
                            <div class="content">
                                <h4>24/7 Online Support</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Choose Us Area CSS -->
    
    <!-- Start Teacher Area -->
    <section class="teacher-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h3>Our Teacher</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco . </p>
            </div>
            
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-teacher">
                        <img src="assets/img/teacher-one.jpg" alt="teacher">
                        
                        <div class="teacher-content">
                            <h3><a href="#">Jasika Pearl</a></h3>
                            <span>Web Developer</span>
                            
                            <h4><a href="#">View Profile <i class="icofont-long-arrow-right"></i></a></h4>
                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-teacher">
                        <img src="assets/img/teacher-two.jpg" alt="teacher">
                        
                        <div class="teacher-content">
                            <h3><a href="#">Oliver Jack</a></h3>
                            <span>Web Developer</span>
                            
                            <h4><a href="#">View Profile <i class="icofont-long-arrow-right"></i></a></h4>
                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-teacher">
                        <img src="assets/img/teacher-three.jpg" alt="teacher">
                        
                        <div class="teacher-content">
                            <h3><a href="#">Aisha Anna</a></h3>
                            <span>Web Developer</span>
                            
                            <h4><a href="#">View Profile <i class="icofont-long-arrow-right"></i></a></h4>
                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-teacher">
                        <img src="assets/img/teacher-four.jpg" alt="teacher">
                        
                        <div class="teacher-content">
                            <h3><a href="#">Harry Jacob</a></h3>
                            <span>Web Developer</span>
                            
                            <h4><a href="#">View Profile <i class="icofont-long-arrow-right"></i></a></h4>
                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-teacher">
                        <img src="assets/img/teacher-five.jpg" alt="teacher">
                        
                        <div class="teacher-content">
                            <h3><a href="#">Isabel Sarah</a></h3>
                            <span>Web Developer</span>
                            
                            <h4><a href="#">View Profile <i class="icofont-long-arrow-right"></i></a></h4>
                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-teacher">
                        <img src="assets/img/teacher-six.jpg" alt="teacher">
                        
                        <div class="teacher-content">
                            <h3><a href="#">Oscar Noah</a></h3>
                            <span>Web Developer</span>
                            
                            <h4><a href="#">View Profile <i class="icofont-long-arrow-right"></i></a></h4>
                            <ul>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Teacher Area -->
    
    <!-- Start Fun Facts Area -->
    <section class="fun-facts-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="fun-fact">
                        <div class="icon bg-1">
                            <img src="assets/img/icon1.png" alt="icon">
                        </div>
                        
                        <h3><span class="count">2500</span>+</h3>
                        <h5>Students</h5>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3">
                    <div class="fun-fact">
                        <div class="icon bg-2">
                            <img src="assets/img/icon2.png" alt="icon">
                        </div>
                        
                        <h3><span class="count">100</span>+</h3>
                        <h5>Teachers</h5>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3">
                    <div class="fun-fact">
                        <div class="icon bg-3">
                            <img src="assets/img/icon3.png" alt="icon">
                        </div>
                        
                        <h3><span class="count">55</span>+</h3>
                        <h5>Winnings Awards</h5>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3">
                    <div class="fun-fact">
                        <div class="icon bg-4">
                            <img src="assets/img/icon4.png" alt="icon">
                        </div>
                        
                        <h3><span class="count">1236</span>+</h3>
                        <h5>Certified Students</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fun Facts Area -->
    
    <!-- Start Testimonials Area -->
    <section class="testimonials-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h3>Testimonials</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco . </p>
            </div>
        </div>
            
        <div class="row m-0">
            <div class="testimonials-slider">
                <div class="col-lg-12 col-md-12">
                    <div class="single-feedback">
                        <img src="assets/img/client1.jpg" alt="client">
                        
                        <div class="feedback-content">
                            <i class="icofont-quote-left"></i>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            
                            <h3>Jason Stamtham</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-feedback">
                        <img src="assets/img/client2.jpg" alt="client">
                        
                        <div class="feedback-content">
                            <i class="icofont-quote-left"></i>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            
                            <h3>Jason Stamtham</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-feedback">
                        <img src="assets/img/client3.jpg" alt="client">
                        
                        <div class="feedback-content">
                            <i class="icofont-quote-left"></i>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            
                            <h3>Jason Stamtham</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials Area -->
    
    <!-- Start NewsLetter Area -->
    <section class="newsletter-area ptb-100">
        <div class="container">
            <div class="newsletter">
                <h3>Sign up to our newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <form>
                    <input type="text" class="form-control" placeholder="Enter your email address...">
                    <button type="submit" class="btn btn-primary">Subscribe Now</button>
                </form>
            </div>
        </div>
    </section>
    <!-- End NewsLetter Area -->
    



{% endblock %}

