{% extends 'mainsite/base.html' %}
{% load static %}
{% load youtube_link_replace %}

{% block content %}
<!-- Start Page Title Area -->
<div class="page-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h3>{{ course.title }}</h3>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Course Details Area -->
<section class="course-details-area ptb-100">
    <div class="container-fluid">
        
        <div class="row  px-0 mx-0">
            <!-- {% for lesson in course.course.all %} -->
            <div class="col-lg-4 pr-0 mr-3">
               <div class="card">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {% for tcontent in topic_category %}
                        <a onclick="reload({{ tcontent.id }});" class="nav-link {% if forloop.first %}  active {% endif %} " id="v-pills-{{ tcontent.id }}-tab" data-toggle="pill" href="#v-pills-{{ tcontent.id }}" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <i class="icofont-ui-play pr-2"></i>Lecture {{ forloop.counter }}
                            <span class="ls-title "> {{ tcontent.title }}</span>
                                 50 min
                            </span>
                        </a>
                        {% endfor %}
                        {% for quiz in course.courseref.all %}
                        <a href="{% url 'quiz:exam' quiz.id  %}" class="nav-link ">
                            <i class="icofont-ui-play pr-2"></i>
                            <span class="ls-title "> 
                                    Participate Quiz
                            </span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-0 ml-0">
            <div class="tab-content" id="v-pills-tabContent">
                {% for tcontent in topic_category %}
                    <div class="tab-pane fade {% if forloop.first %} show active{% endif %}" id="v-pills-{{ tcontent.id }}" role="tabpanel" aria-labelledby="v-pills-{{ tcontent.id }}-tab">
                        {% if tcontent.video_link %}
                        {% youtube_link_replace tcontent as videourl %}
                        
                        <div class="videoWrapper">
                            {% if videourl %}
                            
                            <iframe id="iframeid" width="920" height="500" type="text/html" src="{% youtube_link_replace tcontent  %}" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% else %}
                            <iframe id="iframeid" width="920" height="500" type="text/html" src="{{ tcontent.video_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% if tcontent.text_content != none %}
                    <div class="course-details-tabs ml-5">
                        {{ tcontent.text_content }}
                    </div>
                    {% endif %}
                  </div>
                {% endfor %}
            </div>
            </div>
            <!-- {% endfor %} -->
        </div>
    </div>
</section>
<script> 
    function reload(id) { 
        console.log(id);
        document.getElementById('iframeid').src += id;
    } 
    
</script> 
{% endblock %}
