{% extends 'mainsite/base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
        

        
        <!-- Start Page Title Area -->
        <div class="page-">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="student-dashboard__banner">
                            <div class="student-dashboard__container">
                                <p class="student-dashboard__welcome pr-5 mr-5">Welcome Back, {{ request.user.get_full_name }} !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- End Page Title Area -->
        
        <!-- Start Courses Area -->
        <section class="courses-area ptb-100">
            <div class="container">
                <div class="row"> 
            {% if request.user.role == 'stu' %}
            <div class="col-lg-6 col-md-6">
                    <a href="{% url 'dashboard:my-courses' %}">
                        <div class="course-details-single d-flex">
                        <div class="course-details-icon"><i class="fas fa-money-check-alt" aria-hidden="true"></i></div>
                        <div class="course-details-content">
                            <h5 class="item-top-title">Total Enrolled Courses</h5>
                            <h6 class="course-item-title">{{ total_course }}</h6>
                        </div>
                        </div>
                    </a>
                    </div>
         


                    <div class="col-lg-6 col-md-6">
                        <div class="course-details-single d-flex">
                        <div class="course-details-icon"><i class="fas fa-money-check-alt" aria-hidden="true"></i></div>
                        <div class="course-details-content">
                            <span class="item-top-title">Total Balance</span>
                            <h6 class="course-item-title">$0</h6>
                        </div>
                        </div>
                    </div>


              

                    {% elif request.user.role == 'tea' %}
                    <div class="col-lg-6 col-md-6">
                        <a href="{% url 'dashboard:instructor-courses' %}">
                            <div class="course-details-single d-flex">
                            <div class="course-details-icon"><i class="fas fa-money-check-alt" aria-hidden="true"></i></div>
                            <div class="course-details-content">
                                <h5 class="item-top-title">Total Courses</h5>
                                <h6 class="pt-3">{{ total_course }}</h6>
                            </div>
                            </div>
                        </a>
                        </div>
       
    
    
                        <div class="col-lg-6 col-md-6">
                            <div class="course-details-single d-flex">
                            <div class="course-details-icon"><i class="fas fa-money-check-alt" aria-hidden="true"></i></div>
                            <div class="course-details-content">
                                <h5 class="item-top-title">Total Balance</h5>
                                <h6 class="pt-3">$0</h6>
                            </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- End Courses Area -->
        
{% endblock %}