{% extends 'mainsite/base.html' %}
{% load static %}

{% block content %}

<div class="main-banner">
    <div class="container">
        <div class="main-banner-content">
            <div class="home-slides">
                <div class="hero-content">
                    <h1>Welcome To <span>GAINSKILL</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <a href="about.html" class="btn btn-primary">Read More</a>
                </div>
                <div class="hero-content">
                    <h1>Are you Ready to <span>Apply</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <a href="admission.html" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="hero-content">
                    <h1>Welcome To <span>GAINSKILL</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <a href="about.html" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="watch-video">
                <a href="https://www.youtube.com/watch?v=TOdvCH1vA80" class="popup-video"><i class="icofont-ui-play"></i></a>
                <h4>Watch Video</h4>
            </div>
        </div>
    </div>
    <div class="animation-shape">
        <div class="shape1"><img src="{% static 'assets/img/shape1.png' %}" alt="shape" /></div>
        <div class="shape2"><img src="{% static 'assets/img/shape2.png' %}" alt="shape" /></div>
    </div>
</div>
<section class="featured-courses ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Featured Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-courses">
                    <div class="icon bg-1"><i class="icofont-pen-holder"></i></div>
                    <h3>UX/UI Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="single-courses.html" class="read-more">
                        <span class="left"><i class="icofont-rounded-double-right"></i></span> Read More <span class="right"><i class="icofont-rounded-double-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-courses">
                    <div class="icon bg-2"><i class="icofont-architecture-alt"></i></div>
                    <h3>Engineering</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="read-more">
                        <span class="left"><i class="icofont-rounded-double-right"></i></span> Read More <span class="right"><i class="icofont-rounded-double-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-courses">
                    <div class="icon bg-3"><i class="icofont-database"></i></div>
                    <h3>Data Science</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="courses.html" class="read-more">
                        <span class="left"><i class="icofont-rounded-double-right"></i></span> Read More <span class="right"><i class="icofont-rounded-double-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-courses">
                    <div class="icon bg-4"><i class="icofont-fax"></i></div>
                    <h3>Project Management</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="read-more">
                        <span class="left"><i class="icofont-rounded-double-right"></i></span> Read More <span class="right"><i class="icofont-rounded-double-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-choose-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12"><div class="image"></div></div>
            <div class="col-lg-6 col-md-12">
                <div class="why-choose ptb-100">
                    <h3>Why Choose Us</h3>
                    <div class="single-choose">
                        <div class="icon"><i class="icofont-book-alt"></i></div>
                        <div class="content">
                            <h4>Popular Courses</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="single-choose">
                        <div class="icon"><i class="icofont-teacher"></i></div>
                        <div class="content">
                            <h4>Qualified Teachers</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="single-choose mb-0">
                        <div class="icon"><i class="icofont-support"></i></div>
                        <div class="content">
                            <h4>24/7 Online Support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="popular-courses-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Popular Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            {% for course in courses %}
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-item">
                    <div class="courses-img">
                        <img src="{{ course.thumbnail.url }}" alt="course" />
                    </div>

                    <div class="courses-content">
                        <h3><a href="{{ course.get_absolute_url }}">{{ course.title}}</a></h3>
                        <ul>
                            {{ course.ratings.Rating }}
                            <li><i class="icofont-star"></i></li>
                            <li><i class="icofont-star"></i></li>
                            <li><i class="icofont-star"></i></li>
                            <li><i class="icofont-star"></i></li>
                            <li><i class="icofont-star"></i></li>

                        </ul>
                    </div>

                    <div class="courses-content-bottom">
                        <h4><i class="icofont-ui-user"></i> 120 Students</h4>

                        <h4 class="price">
                            {% if course.offer_price %}
                            <span> {{ course.price }}</span> {{ course.offer_price }}
                            {% elif course.price  %}
                            {{ course.price }}
                            {% else %}
                            Free
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-12 col-md-12">
                <div class="view-all text-center">
                    <a href="{% url 'courses:courses' %}" class="btn btn-primary">View All Courses <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fun-facts-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-1"><img src="{% static 'assets/img/icon1.png' %}" alt="icon" /></div>
                    <h3><span class="count">2500</span>+</h3>
                    <h5>Students</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-2"><img src="{% static 'assets/img/icon2.png' %}" alt="icon" /></div>
                    <h3><span class="count">100</span>+</h3>
                    <h5>Teachers</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-3"><img src="{% static 'assets/img/icon3.png' %}" alt="icon" /></div>
                    <h3><span class="count">55</span>+</h3>
                    <h5>Winnings Awards</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-4"><img src="{% static 'assets/img/icon4.png' %}" alt="icon" /></div>
                    <h3><span class="count">1236</span>+</h3>
                    <h5>Certified Students</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="upcoming-events-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Upcoming Events</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="single-event">
                    <div class="row m-0">
                        <div class="col-lg-6 col-md-6 p-0">
                            <figure>
                                <a href="#"> <span class="image" style="background-image: url(https://dummyimage.com/555x432/000000/fff.jpg);"></span> <img src="assets/img/event-one.jpg" alt="event" /> </a>
                                <div class="date"><span>18 July, 2020</span></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="event-content">
                                <h3>Web Development</h3>
                                <span class="badge badge-success">Free Access</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat.
                                </p>
                                <div class="where-when">
                                    <ul class="pull-left">
                                        <li><span>Where</span></li>
                                        <li>Fort Mason Center Victoria City, Canada</li>
                                    </ul>
                                    <ul>
                                        <li><span>When</span></li>
                                        <li>Sunday</li>
                                        <li>3.30 pm - 6.30 pm</li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-primary">View Details <i class="icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="single-event">
                    <div class="row m-0">
                        <div class="col-lg-6 col-md-6 p-0">
                            <figure>
                                <a href="#"> <span class="image" style="background-image: url(https://dummyimage.com/555x432/000000/fff.jpg);"></span> <img src="assets/img/event-two.jpg" alt="event" /> </a>
                                <div class="date"><span>19 July, 2020</span></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="event-content">
                                <h3>Ruby on Rails Framework</h3>
                                <span class="badge badge-danger">Premium Member</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat.
                                </p>
                                <div class="where-when">
                                    <ul class="pull-left">
                                        <li><span>Where</span></li>
                                        <li>Fort Mason Center Victoria City, Canada</li>
                                    </ul>
                                    <ul>
                                        <li><span>When</span></li>
                                        <li>Sunday</li>
                                        <li>3.30 pm - 6.30 pm</li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-primary">View Details <i class="icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="single-event mb-0">
                    <div class="row m-0">
                        <div class="col-lg-6 col-md-6 p-0">
                            <figure>
                                <a href="#"> <span class="image" style="background-image: url(https://dummyimage.com/555x432/000000/fff.jpg);"></span> <img src="assets/img/event-three.jpg" alt="event" /> </a>
                                <div class="date"><span>18 July, 2020</span></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6 p-0">
                            <div class="event-content">
                                <h3>WordPress Framework</h3>
                                <span class="badge badge-danger">Premium Member</span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat.
                                </p>
                                <div class="where-when">
                                    <ul class="pull-left">
                                        <li><span>Where</span></li>
                                        <li>Fort Mason Center Victoria City, Canada</li>
                                    </ul>
                                    <ul>
                                        <li><span>When</span></li>
                                        <li>Sunday</li>
                                        <li>3.30 pm - 6.30 pm</li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-primary">View Details <i class="icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="apply-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="text">
                    <p>Become a Premium member now and get a discount <span>50%</span> discount until 1 July</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="apply-form">
                    <h3>Apply Now</h3>
                    <form>
                        <div class="form-group"><input class="form-control" placeholder="Your Name" /></div>
                        <div class="form-group"><input type="email" class="form-control" placeholder="Your Email" /></div>
                        <div class="form-group"><input class="form-control" placeholder="Your Phone" /></div>
                        <button type="submit" class="btn btn-primary">Apply Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="how-it-works ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>How It Works<span>?</span></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="work-process">
                    <i class="icofont-search-document"></i>
                    <h3>Search Courses</h3>
                    <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent rreloquentiam id.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="work-process">
                    <i class="icofont-info"></i>
                    <h3>View Course Details</h3>
                    <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent rreloquentiam id.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="work-process">
                    <i class="icofont-like"></i>
                    <h3>Apply, Enroll or Register</h3>
                    <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent rreloquentiam id.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="view-all text-center">
                    <a href="#" class="btn btn-primary">Register Now <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="teacher-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Our Teacher</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="#">Jasika Pearl</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Oliver Jack</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Aisha Anna</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Harry Jacob</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Isabel Sarah</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="#">Oscar Noah</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="newsletter-area ptb-100">
    <div class="container">
        <div class="newsletter">
            <h3>Sign up to our newsletter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <form><input class="form-control" placeholder="Enter your email address..." /> <button type="submit" class="btn btn-primary">Subscribe Now</button></form>
        </div>
    </div>
</section> -->

<!-- <section class="teacher-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Our Teacher</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="#">Jasika Pearl</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Oliver Jack</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Aisha Anna</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Harry Jacob</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="single-courses.html">Isabel Sarah</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-teacher">
                    <img src="https://dummyimage.com/360x285/000000/fff.jpg" alt="teacher" />
                    <div class="teacher-content">
                        <h3><a href="#">Oscar Noah</a></h3>
                        <span>Web Developer</span>
                        <h4>
                            <a href="#">View Profile <i class="icofont-long-arrow-right"></i></a>
                        </h4>
                        <ul>
                            <li>
                                <a href="#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icofont-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="newsletter-area ptb-100">
    <div class="container">
        <div class="newsletter">
            <h3>Sign up to our newsletter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <form><input class="form-control" placeholder="Enter your email address..." /> <button type="submit" class="btn btn-primary">Subscribe Now</button></form>
        </div>
    </div>
</section>
<section class="news-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>GAINSKILL News</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            <div class="news-slider">
                <div class="col-lg-12 col-md-12">
                    <div class="single-blog-post">
                        <img src="https://dummyimage.com/360x360/000000/fff.jpg" alt="blog" />
                        <div class="date"><span>18 Jan, 2019</span></div>
                        <div class="blog-post-content">
                            <h3><a href="single-courses.html">Online Tutorials</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit nullam blandit bibn dit.</p>
                            <a href="single-courses.html" class="read-more">
                                <span class="left"><i class="icofont-rounded-double-right"></i></span> Read More <span class="right"><i class="icofont-rounded-double-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="single-blog-post">
                        <img src="https://dummyimage.com/360x360/000000/fff.jpg" alt="blog" />
                        <div class="date"><span>18 Jan, 2019</span></div>
                        <div class="blog-post-content">
                            <h3><a href="single-courses.html">Web Design</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit nullam blandit bibn dit.</p>
                            <a href="single-courses" class="read-more">
                                <span class="left"><i class="icofont-rounded-double-right"></i></span> Read More <span class="right"><i class="icofont-rounded-double-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="single-blog-post">
                        <img src="https://dummyimage.com/360x360/000000/fff.jpg" alt="blog" />
                        <div class="date"><span>18 Jan, 2019</span></div>
                        <div class="blog-post-content">
                            <h3><a href="single-courses.html">PHP Tutorials</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit nullam blandit bibn dit.</p>
                            <a href="single-courses" class="read-more">
                                <span class="left"><i class="icofont-rounded-double-right"></i></span> Read More <span class="right"><i class="icofont-rounded-double-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}