{% extends 'mainsite/base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
        

        
        <!-- Start Page Title Area -->
        <div class="page-">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="student-dashboard__banner">
                            <div class="student-dashboard__container">
                                <p class="student-dashboard__welcome pr-5 mr-5">Welcome back, {{ request.user.get_full_name }}!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- End Page Title Area -->
        
        <!-- Start Courses Area -->
        <section class="courses-area ptb-100">
            <div class="container">
                <div class="row"> 
                {% for course in mycourses.products.all %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-courses-item">
                            <div class="courses-img">
                                <img src="{{ course.thumbnail.url }}" alt="course" />
                            </div>
                            
                            <div class="courses-content">
                                <h3><a href="{{ course.get_absolute_url }}">{{ course.title}}</a></h3>
                            </div>
                            
                            <div class="courses-content-bottom">
                                <h4 class="cart-buttons">                               
                                    <a href="{% url 'dashboard:start-course' course.slug %}" class=""><button class="btn btn-danger">START COURSE</button></a>

                                </h4>
 

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <i class="icofont-stylish-left"></i>
                                        </a>
                                    </li>
                                    
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <i class="icofont-stylish-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Courses Area -->
        
{% endblock %}