{% load static %}
<!-- Scripts -->


<a class="scrolltop" href="#top"><i class="icofont-hand-drawn-up"></i></a>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-notify.js' %}"></script>
<script src="{% static 'assets/js/classy-nav.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<link href="{% static 'assets/css/toastr.css' %}" rel="stylesheet">
<script src="{% static 'assets/js/toastr.js' %}"></script>

<!--Form Validation-->
<script src="{% static 'customadmin/assets/form-wizard/bootstrap-validator.min.js' %}" type="text/javascript"></script>
<!--Form Wizard-->
<script src="{% static 'customadmin/assets/form-wizard/jquery.steps.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'customadmin/assets/jquery.validate/jquery.validate.min.js' %}"></script>
<!--wizard initialization-->
<script src="{% static 'customadmin/assets/form-wizard/wizard-init.js' %}" type="text/javascript"></script>

<script src="{% static 'assets/js/main.js' %}"></script>
