{% extends 'mainsite/base.html' %}
{% load static %}

{% block content %}
<!-- Start Page Title Area -->
<div class="page-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h3>QUIZ</h3>
            </div>
        </div>
    </div>
</div>
    <div class="mt-5 text-center"><h1>Question {{ questions.end_index }} of  {{count}}</h1></div>
    <div class="col-lg-8 border border-success p-4 m-4 mx-auto">
        <form action="{% url 'quiz:save_ans' %}" method="POST"  id="quiz-submit-ajax">
            {% csrf_token %}
            <input type="hidden"  name="user" id="id_user" value="{{ request.user.id }}">
                
            {% for i in questions%}
                <input type="hidden"  name="question"  id="id_question" value="{{i.id}}">

                <h1 class="text-center m-4">{{i.question}}</h1>

                    <div class="radio">
                    <label><input class="mr-3" type="radio" name="ans"  id="id_ans" value="choice_one">{{i.choice_one}} </label> 
                    </div>
                    <div class="radio">
                    <label > <input class="mr-3" type="radio" name="ans"  id="id_ans" value="choice_two">{{i.choice_two}}</label>
                  </div>
                  <div class="radio">
                    <label ><input class="mr-3" type="radio" name="ans" id="id_ans" value="choice_three">{{i.choice_three}}</label>
                  </div>
                    <div class="radio">
                    <label ><input class="mr-3" type="radio" name="ans"  id="id_ans" value="choice_four">{{i.choice_four}} </label>
                </div>
            
                {%endfor%}

                <!-- {{ QuizExamForm.as_p }} -->
                <div class="form-group">
                    <button class="btn  btn-success" id="">Submit Answer</button>
                </div>
            </form>
                <div class="paginetor">
                  <div class="form-group">
                    {%  if questions.has_next %}
                    <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary" id="save_ans">Next</button></a>
                  {% else %}
                   <a href="{% url 'quiz:quiz_result' %}"><button class="btn form-control btn-success" id="save_ans">Submit Quiz</button></a>  
                  {% endif %} 
                  </div>
                 </div>  
    </div>
    <script>
//         window.onload = initall;
// var  saveBookButton ;
// function initall() {
//     saveBookButton=document.getElementById('save_ans')
//     saveBookButton.onclick = save_ans;
// }

// function save_ans() {
//     var ans = $("input:radio[name=name]:checked").val()
//     console.log(ans);
//     alert("answer submited go next")
//     var url = '/quiz/save_ans?ans='+ans
//     var req = new XMLHttpRequest();
//     req.onreadystatechange = function() {
//     if (this.readyState == 4 && this.status == 200) {
//      alert(req.responseText)
//     }
//   };
//   req.open("GET", url, true);
//   req.send();
// }


$(document).on('submit', '#quiz-submit-ajax',function(e){
  e.preventDefault();
  console.log('ss');
  var form = $(this);
  $.ajax({
      type: form.attr("method"),
      url:form.attr("action"),
      data: form.serialize(),
      success:function(res){
        
        $("#quiz-submit-ajax").trigger('reset');
        console.log(res);

      },
      error : function(err) {
        console.log(err);
    }
  });
});


function tostr(res){
    var type = res.status;
        switch(type){
            case 'info':
                toastr.info(res.msg);
                break;
            case 'warning':
                toastr.warning(res.msg);
                break;
            case 'success':
                toastr.success(res.msg);
                break;
            case 'error':
                toastr.error(res.msg);
                break;
        } 
}

</script>
{% endblock %}
