<!-- Footer -->



<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>About Us</h3>
                    <ul class="footer-contact-info">
                        <li>BAUST, Saidpur</li>
                        <li><a href="#">+8801111111</a></li>
                        <li><a href="#">+4 (15) 345 6789</a></li>
                        <li><a href="#">contact@finalprojects.xyz</a></li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="#"><i class="icofont-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>Courses</h3>
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>Research</h3>
                    <ul class="list">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <p>Copyright <i class="icofont-copyright"></i> 2020 Finalprojects.xyz. All rights reserved</p>
                </div>
                <div class="col-lg-5 col-md-5">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="scrolltop" href="#top"><i class="icofont-hand-drawn-up"></i></a>
