{% load static %}
<!-- Scripts -->


<a class="scrolltop" href="#top"><i class="icofont-hand-drawn-up"></i></a>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-notify.js' %}"></script>
<script src="{% static 'assets/js/classy-nav.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<script src="{% static 'assets/js/toastr.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>



