.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937988;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.240000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ssg;src:url(signature.ttf)format("ttf");}.ff4{font-family:ff4;line-height:1.240000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-6.000000px;}
.ls1{letter-spacing:0.000000px;}
.ls0{letter-spacing:24.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(166,13,94),0 0.015em rgb(166,13,94),0.015em 0 rgb(166,13,94),0 -0.015em  rgb(166,13,94);}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,57,109),0 0.015em rgb(0,57,109),0.015em 0 rgb(0,57,109),0 -0.015em  rgb(0,57,109);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(166,13,94);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,57,109);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width: 1264.162px;}
.fc1{color:rgb(166,13,94);}
.fc0{color:rgb(0,57,109);}
.fs3{font-size:48.000000px;}
.fs4{font-size:64.000000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:288.000000px;}
.fs0{font-size:320.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:29.008928px;}
.y8{bottom:151.691383px;}
.y7{bottom:166.091381px;}
.y6{bottom:180.491381px;}
.y5{bottom:210.383890px;}
.y4{bottom:264.524582px;}
.y3{bottom:339.177820px;}
.y2{bottom:384.364511px;}
.y1{bottom:421.981987px;}
.yb{bottom:427.024086px;}
.ya{bottom:446.224086px;}
.h5{height:34.968750px;}
.h6{height:46.593750px;}
.h3{height:52.417969px;}
.h2{height:52.453125px;}
.h1{height:221.718750px;}
.h4{height:242.496000px;}
.h0{height:590px;}
.w0{width: 980px;}
.x0{left:0.000000px;}
.x3{left:209.029678px;}
.x7{left:214.738190px;}
.x5{left:218.904663px;}
.x6{left:223.363174px;}
.x4{left:245.819672px;}
.x1{left:250.786804px;}
.x2{left:287.329590px;}
.x9{left:303.498817px;}
.x8{left:342.425674px;}
.xb {
    left: 816.811px;
    top: 81px;
}
.xa {
    left: 795.791px;
    top: 64px;
}

.fdf {
    top: -57px;
}

@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-8.000000pt;}
.ls1{letter-spacing:0.000000pt;}
.ls0{letter-spacing:32.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1426.882084pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:85.333333pt;}
.fs1{font-size:96.000000pt;}
.fs2{font-size:384.000000pt;}
.fs0{font-size:426.666667pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:38.678571pt;}
.y8{bottom:202.255178pt;}
.y7{bottom:221.455175pt;}
.y6{bottom:240.655174pt;}
.y5{bottom:280.511854pt;}
.y4{bottom:352.699443pt;}
.y3{bottom:452.237094pt;}
.y2{bottom:512.486015pt;}
.y1{bottom:562.642649pt;}
.yb{bottom:569.365448pt;}
.ya{bottom:594.965448pt;}
.h5{height:46.625000pt;}
.h6{height:62.125000pt;}
.h3{height:69.890625pt;}
.h2{height:69.937500pt;}
.h1{height:295.625000pt;}
.h4{height:323.328000pt;}
.h0{height:720.000000pt;}
.w0{width:1040.000000pt;}
.x0{left:0.000000pt;}
.x3{left:278.706238pt;}
.x7{left:286.317586pt;}
.x5{left:291.872884pt;}
.x6{left:297.817566pt;}
.x4{left:327.759562pt;}
.x1{left:334.382406pt;}
.x2{left:383.106120pt;}
.x9{left:404.665090pt;}
.x8{left:456.567566pt;}
.xb{left:842.414139pt;}
.xa{left:851.721430pt;}
}
.padding {

    margin-left: 104px;
}
.padding2 {
    font-size: 180px;
    margin-left:44px;
}

.ppd {
    margin-left: 76px;
}

.yoyo {
    margin-left: 26px;
}

.jj{
    top: 102px;
}

.oyoyee {
    top: 329px;
}
.tto {
    bottom: 80px;
}