{% extends 'mainsite/base.html' %}
{% load static %}

{% block content %}
        <!-- End Search Popup Area -->
        
        <!-- Start Page Title Area -->
        <div class="page-title">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <h3>Login</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
        <!-- Start Login Area -->
        <section class="login-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="register-content">
                            <div class="heading">Register</div>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="row">
                                    {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                            <div class="alert alert-danger alert-dismissable">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                        <div class="alert alert-danger alert-dismissable">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                  {% endif %}
                                    {% for field in user_form %}
                                    <div class="col-lg-12 col-md-12">
                                        <label class="text-left" for="id_{{ field.name }}">{{ field.label }} :</label>

                                        <div class="form-group">
                                            <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                                            id="id_{{ field.name }}" value="{{ field.value }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% for field in profile_form %}
                                    <div class="col-lg-12 col-md-12">
                                        <label class="text-left" for="id_{{ field.name }}">{{ field.label }}</label>

                                        <div class="form-group">
                                            <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                                            id="id_{{ field.name }}" value="{{ field.value }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="col-lg-12 col-md-12">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login Area -->
        
{% endblock %}