{% extends 'mainsite/base.html' %}
{% load static %}



{% block content %}


    <!-- Start Page Title Area -->
    <div class="page-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>Payment Status</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->


    <!-- Start Checkout Area -->
    <section class="checkout-area ptb-100">
        <div class="container">

                <div class="row">
                        <h1>Your Payment was Successful</h1>
                </div>
            </form>
        </div>
    </section>
    <!-- End Checkout Area -->

{% endblock %}