{% extends 'adminsection/base.html' %}
{% load static %}

{% block title %}
    All Courses |
{% endblock %}
{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->                      
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <ol class="breadcrumb pull-right">
                                <li><a href="#">Dashboard</a></li>
                                <li class="active">All courses</li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table id="datatable" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Course Title</th>
                                                        <th>Instructor</th>
                                                        <th>Price</th>
                                                        <th>Discount Price</th>
                                                        <th>Published Date</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>

                                            
                                                <tbody>
                                                    {% for course in courses %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td><a href="{{ course.get_absolute_url }}" target="_blank" rel="{{ course.title }}">{{ course.title }}</a></td>
                                                        <td><a href="" target="_blank" rel=""></a>{{ course.instructor.username }}</td>
                                                        <td>{{ course.price }}</td>
                                                        <td>{{ course.offer_price|title }}</td>
                                                        <td>{{ course.timestamp|date:"j-M-Y " }}</td>
                                                        <td>{% if course.is_published == True %}

                                                            <button type="button" class="btn btn-purple btn-rounded waves-effect waves-light w-sm m-b-5">Published</button>
                                                            {% elif course.is_published == False %}
                                                            <!-- <span class="label label-pink">Pink</span> -->
                                                            <button type="button" class="btn btn-pink btn-rounded waves-effect waves-light w-sm m-b-5">Pending</button>
                                                            {% endif %}
                                                        </td>
                                                        <td><a class="text-center" href="{{ course.get_absolute_url }}"><button type="button" class="btn btn-info btn-rounded waves-effect waves-light m-b-5">View</button></a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> <!-- End Row -->


                </div> <!-- container -->                 
            </div> <!-- content -->

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    
    {% block scripts %}

        <script src="{% static 'customadmin/assets/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'customadmin/assets/datatables/dataTables.bootstrap.js' %}"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').dataTable();
            } );
        </script>
    {% endblock %}

{% endblock %}