{% extends 'adminsection/base.html' %}
{% load static %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->                      
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <ol class="breadcrumb pull-right">
                                <li><a href="#">Dashboard</a></li>
                                <li class="active">All Users</li>
                            </ol>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Users</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table id="datatable" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Office</th>
                                                        <th>Age</th>
                                                        <th>Start date</th>
                                                        <th>Salary</th>
                                                    </tr>
                                                </thead>

                                            
                                                <tbody>
                                                    {% for instructor in instructors %}
                                                    <tr>
                                                        <td>{{ instructor.username }}</td>
                                                        <td>{{ instructor.email }}</td>
                                                        <td>New York</td>
                                                        <td>27</td>
                                                        <td>{{ instructor.date_joined|date:"j-M-Y " }}</td>
                                                        <td><button type="button" class="btn btn-purple btn-rounded waves-effect waves-light m-b-5">View</button></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> <!-- End Row -->


                </div> <!-- container -->                 
            </div> <!-- content -->

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    
    {% block scripts %}

        <script src="{% static 'customadmin/assets/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'customadmin/assets/datatables/dataTables.bootstrap.js' %}"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').dataTable();
            } );
        </script>
    {% endblock %}

{% endblock %}