{% extends 'adminsection/base.html' %}
{% load static %}

{% block content %}   
 
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Course Detail</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Course Detail</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ course.title }}</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Price</span>
                      <span class="info-box-number text-center text-muted mb-0">                      
                        {% if course.offer_price %}
                        <span> {{ course.price }}</span> {{ course.offer_price }}
                        {% elif course.price  %}
                        {{ course.price }}
                        {% else %}
                        Free
                        {% endif %}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Total amount spent</span>
                      <span class="info-box-number text-center text-muted mb-0">2000</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Totall Lesson </span>
                      <span class="info-box-number text-center text-muted mb-0">{{ total_lecture }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">                            
                  <div class="accordion">
                  {% for lesson in course.course.all %}
                  <div class="card">
                      <div class="card-header" role="tab" id="heading-{{ forloop.counter }}">
                          <a {% if forloop.first %} {% else %} class="collapsed" {% endif %}
                              data-toggle="collapse" data-parent="#accordionEx"
                              href="#collapse-{{ forloop.counter }}"
                              aria-expanded="{% if forloop.first %} true {% else %} false {% endif %}"
                              aria-controls="collapse-{{ forloop.counter }}">
                              <h5 class="mb-0">
                                  {{ forloop.counter }}. {{ lesson.curriculum_title }} <span><i
                                          class="icofont-rounded-down"></i></span>
                              </h5>
                          </a>
                      </div>


                          <div class="card-body">
                              <ul>
                                  {% for lessoncontent in lesson.video_link.all %}
                                  {% if not lessoncontent.text_content %}

                                  <li class="my-3">
                                      <i class="icofont-ui-play"></i> Lecture {{ forloop.counter }}
                                      
                                      <span class="pr-5 mr-5">{{ lessoncontent.title }}</span>
                                      
                                      <span class="pr-l ml-5 duration"><i class="icofont-clock-time"></i> 50 min</span>
                                      
                                      <a id="{{ lessoncontent.id }}" href="{{ lessoncontent.video_link }}" class="py-l ml-5 preview popup-video">Preview</a>
                                  </li>

                       
                                  {% else %}
                                  <li class="nav-item my-3">
                                      <i class="icofont-ui-text-chat"></i> Lecture {{ forloop.counter }}
                          
                                          <div id="accordion">
                                            <div id="heading-{{ forloop.counter }}">
                                              
                                                <span class="" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne">
                                                  {{ lessoncontent.title }}
                                        
                                                <span class="pr-l ml-5 duration align-right"><i class="icofont-clock-time "></i> TxT</span>
                                                <a href='#'class="py-l ml-5 preview ">Preview</a>
                                              </span>
                                            </div>
                                        
                                            <div id="collapse-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-{{ forloop.counter }}" data-parent="#accordion">
                                              <div class="card-body">
                                                {{ lessoncontent.text_content }}
                                              </div>
                                            </div>
                                          </div>
                                          
                                  </li>
                                  {% endif %}
                                  {% endfor %}

                              </ul>
                          </div>
          
                  </div>
                  {% endfor %}


              </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary"><i class="fas fa-paint-brush"></i>{{ course.title }}</h3>
              <p class="text-muted">{{ course.description }}</p>
              <br>
              <div class="text-muted">
                <p class="text-sm">Course From
                  <b class="d-block">{{ course.instructor.get_full_name }}</b>
                </p>
              </div>

              <h5 class="mt-5 text-muted">Thumbnail files</h5>
              <ul class="list-unstyled">
                <li class="nav-item">
                  <a href="{{ course.thumbnail.url }}" class="btn-link text-secondary"><img src="{{ course.thumbnail.url }}" alt="" width="300px" height="200px"> </a>
                </li>
              </ul>
              <div class="text-center mt-5 mb-3">
                <form action='{% url "customadmin:approvedorreject" %}' method='POST'>
                  {% csrf_token %}
                  <input type='hidden' name='course_id' value='{{ course.id }}' />
                  <input type="Submit" class="btn btn-sm btn-primary" value="Approved"/>
            
              </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  {% endblock %}

