{% extends 'adminsection/base.html' %}
{% load static %}

{% block content %}   



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Users</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Total User</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Instructor</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                {% for course in courses %}
                  <tr>
                    <td><a href="{% url 'customadmin:single-course' course.slug %}">{{ course.title }}</a></td>
                    <td>{{ course.category }}</td>
                    <td>
                      {% if course.offer_price %}
                      <span> {{ course.price }}</span> {{ course.offer_price }}
                      {% elif course.price  %}
                      {{ course.price }}
                      {% else %}
                      Free
                      {% endif %}
                    </td>
                    <td>{{ course.instructor.get_full_name }}</td>
                    
                    <td class="text-right"> <input type="checkbox" checked data-toggle="toggle" data-on="Published" data-off="Unpublished" data-onstyle="success" data-offstyle="danger"></td>
         
                  </tr>
                  {% endfor %}
                </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}


{% block scripts %}

<link rel="stylesheet" href="{% static 'customadmin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'customadmin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<script src="{% static 'customadmin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'customadmin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'customadmin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'customadmin/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'customadmin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}


