{% extends 'base.html' %}
{% load static %}



{% block content %}


    <!-- Start Page Title Area -->
    <div class="page-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h3>Checkout</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->


    <!-- Start Checkout Area -->
    <section class="checkout-area ptb-100">
        <div class="container">
                <h1>Payment Was Unsuccessful </h1>
        </div>
    </section>
    <!-- End Checkout Area -->

{% endblock %}