{% extends 'base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
        
        <!-- Start Search Popup Area -->
        <div id="search-area">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" value="" placeholder="Search Kewword(s)">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <!-- End Search Popup Area -->
        
        <!-- Start Page Title Area -->
        <div class="page-title">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <h3>All Courses</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
        <!-- Start Courses Area -->
        <section class="courses-area ptb-100">
            <div class="container">
                <div class="row"> 
                {% for course in courses %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-courses-item">
                            <div class="courses-img">
                                <img src="{{ course.thumbnail.url }}" alt="course" />
                            </div>
                            
                            <div class="courses-content">
                                <h3><a href="{{ course.get_absolute_url }}">{{ course.title}}</a></h3>
                                <ul>
                                    {{ course.ratings.Rating }}
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    
                                </ul>
                            </div>
                            
                            <div class="courses-content-bottom">
                                <h4><i class="icofont-ui-user"></i> 120 Students</h4>

                                <h4 class="price">
                                    {% if course.offer_price %}
                                    <span> {{ course.price }}</span> {{ course.offer_price }}
                                    {% elif course.price  %}
                                    {{ course.price }}
                                    {% else %}
                                    Free
                                    {% endif %}
                                </h4>
                                <h4 class="buy-cart cart-buttons">                               
                                    <a href="" class="buy"><button class="btn btn-danger">Purchase</button></a>


                                    <form method='POST' action='{% url "cart:cart-update" %}'> 
                                        {% csrf_token %}
                                        <input type='hidden' name='product_id' value='{{ course.id }}' />
                                        {% if product in cart.products.all %}
                                            <button type='submit' class='btn btn-link'>Remove?</button>
                                        {% else %}
                                            <button type='submit'  class='btn btn-danger'>Add to cart</button>
                                        {% endif %}
                                    </form>
                                </h4>
 

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <i class="icofont-stylish-left"></i>
                                        </a>
                                    </li>
                                    
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <i class="icofont-stylish-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Courses Area -->
        
{% endblock %}